.swal2-popup .swal2-icon {
    margin: 2.5em auto .6em !important;
}

.blink_me {
    -webkit-animation: blinker 1s linear infinite;
            animation: blinker 1s linear infinite;
}

@-webkit-keyframes blinker {
    50% { opacity: 0; }
}

@keyframes blinker {
    50% { opacity: 0; }
}

.scrollable {
    overflow-y: scroll;
    height: 1000px;
    scrollbar-width: thin;
    scrollbar-color: darkgrey;
}

.scrollable::-webkit-scrollbar {
    width: 5px;
}

.scrollable::-webkit-scrollbar-track {
    background: #efefef;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 20px;
    border: 1px;
}

.pseudo-before-none::before {
    content: none !important;
}

.modal.modal-sticky.modal-sticky-bottom-right-custom {
    padding: 0 !important;
    max-width: 760px;
    height: auto;
    position: fixed;
    top: auto;
    left: auto;
    right: 25px;
    bottom: 25px;
    margin: 0;
    box-shadow: 0 0 60px -15px rgba(0, 0, 0, 0.2);
}
.modal.modal-sticky.modal-sticky-bottom-right-custom .modal-dialog {
    position: static;
    max-width: 760px;
    width: auto;
    margin: 0;
    border-radius: 0.42rem;
}
.modal.modal-sticky.modal-sticky-bottom-right-custom .modal-dialog .modal-content {
    border: 0;
    border-radius: 0.42rem;
}
.modal.modal-sticky.modal-sticky-bottom-right-custom.modal-sticky-lg {
    max-width: 600px;
}
.modal.modal-sticky.modal-sticky-bottom-right-custom.modal-sticky-lg .modal-dialog {
    max-width: 600px;
}
@media (max-width: 991.98px) {
    .modal.modal-sticky.modal-sticky-bottom-right-custom {
        bottom: 10px;
    }
}
@media (max-width: 767.98px) {
    .modal.modal-sticky.modal-sticky-bottom-right-custom {
        max-width: 90%;
    }
}

code {
    background-color: inherit !important;
}

pre {
    border-radius: .475rem;
    font-size: 11px;
}

.timeline.timeline-3 .timeline-items .timeline-item .timeline-content {
    border-radius: 0.825rem;
    position: relative;
    background-color: #FFF;
    padding: 0.75rem 1.5rem;
}

.timeline.timeline-3 .timeline-items .timeline-item {
    margin-left: 25px;
    border-left: 1px dashed rgba(77, 77, 77, 0.62);
    padding: 0 0 20px 50px;
    position: relative;
}

.timeline.timeline-3 .timeline-items .timeline-item .timeline-content::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 10px;
    left: -25px;
    border-right: solid 10px #ffffff;
    border-bottom: solid 17px transparent;
    border-left: solid 17px transparent;
    border-top: solid 17px transparent;
}

